In [50]:
from csv import reader

In [51]:
def load_csv(filename):
    file = open(filename,"r")
    lines = reader(file)
    data = list(lines)
    return data

In [52]:
data = load_csv("Student_marks_list.csv")

In [53]:
data

[['Name', 'Maths', 'Biology', 'English', 'Physics', 'Chemistry', 'Hindi'],
 ['Praneeta', '86', '75', '98', '51', '60', '53'],
 ['Megha', '61', '54', '49', '71', '47', '65'],
 ['Jikku', '40', '75', '48', '91', '98', '53'],
 ['Naveen', '79', '46', '59', '77', '85', '45'],
 ['Praveen', '79', '57', '77', '95', '76', '82'],
 ['Satwik', '78', '68', '79', '88', '48', '90'],
 ['Aravind', '51', '44', '63', '63', '88', '99'],
 ['Teja', '47', '50', '62', '44', '51', '53'],
 ['Rohit', '88', '75', '73', '91', '51', '66'],
 ['Mahesh', '95', '40', '73', '65', '54', '98'],
 ['Manish', '71', '75', '67', '74', '54', '65'],
 ['Sumi', '71', '49', '43', '75', '72', '94'],
 ['Manasa', '99', '62', '68', '97', '99', '40'],
 ['Sandeep', '59', '76', '82', '87', '65', '80'],
 ['Vineeta', '41', '42', '68', '78', '40', '82'],
 ['Rohita', '61', '77', '96', '96', '64', '66'],
 ['Sagar', '98', '72', '68', '99', '50', '66'],
 ['Vivek', '65', '66', '93', '56', '99', '74'],
 ['Manodhar', '98', '68', '97', '53', '74', '98'],
 ['Priya', '48', '54', '52', '81', '64', '72'],
 ['Raja', '66', '90', '59', '78', '82', '53'],
 ['Harshitha', '85', '70', '55', '50', '62', '40'],
 ['Mehuli', '63', '45', '90', '99', '81', '76'],
 ['Sourav', '91', '59', '72', '63', '95', '98'],
 ['Joshua', '46', '95', '84', '80', '40', '57'],
 ['Sreeja', '63', '100', '72', '49', '77', '50'],
 ['Divya', '90', '90', '60', '71', '89', '65'],
 ['Bhavana', '59', '75', '92', '77', '89', '92'],
 ['Rajasekhar', '79', '41', '59', '42', '84', '98'],
 ['Maruti', '78', '43', '95', '63', '67', '50']]

In [54]:
total_marks=[]

In [55]:
for i in range(1,31):
    sum = 0
    for j in range(1,7):
        sum =sum + int(data[i][j])
    total_marks.append(sum)

In [56]:
total_marks

[423,
 347,
 405,
 391,
 466,
 451,
 408,
 307,
 444,
 425,
 406,
 404,
 465,
 449,
 351,
 460,
 453,
 453,
 488,
 371,
 428,
 362,
 454,
 478,
 402,
 411,
 465,
 484,
 403,
 396]

In [57]:
math=[]
for i in range(1,31):
  math.append(int(data[i][1]))

In [58]:
bio=[]
for i in range(1,31):
  bio.append(int(data[i][2]))

In [59]:
english=[]
for i in range(1,31):
  english.append(int(data[i][3]))

In [60]:
physics=[]
for i in range(1,31):
  physics.append(int(data[i][4]))

In [61]:
chemistry=[]
for i in range(1,31):
  chemistry.append(int(data[i][5]))

In [62]:
hindi=[]
for i in range(1,31):
  hindi.append(int(data[i][6]))

In [63]:
(m,i) = max((v,i) for i,v in enumerate(math))
print("Topper in Maths is "+ data[i+1][0])

Topper in Maths is Manasa

In [64]:
(n,j) = max((w,j) for j,w in enumerate(hindi))
print("Topper in Hindi is "+ data[j+1][0])
print (n,j)

Topper in Hindi is Aravind
99 6

In [65]:
(p,k) = max((x,k) for k,x in enumerate(chemistry))
print("Topper in Chemistry is "+ data[k+1][0])
print (p,k)

Topper in Chemistry is Vivek
99 17

In [66]:
(s,l) = max((y,l) for l,y in enumerate(english))
print("Topper in English is "+ data[l+1][0])
print (s,l)

Topper in English is Praneeta
98 0

In [67]:
(t,r) = max((z,r) for r,z in enumerate(physics))
print("Topper in Physics is "+ data[r+1][0])
print (t,r)

Topper in Physics is Mehuli
99 22

In [68]:
indices = [i for i, x in enumerate(physics) if x == max(physics)]
print("Topper in Physics are "+ data[indices[0]+1][0] +" and "+ data[indices[1]+1][0])
print (t,r)

Topper in Physics are Sagar and Mehuli
99 22

In [69]:
indices

[16, 22]

In [70]:
(q,d) = max((z,d) for d,z in enumerate(bio))
print("Topper in Biology is "+ data[d+1][0])
print (q,d)

Topper in Biology is Sreeja
100 25

In [71]:
first = total_marks.index(max(total_marks))

In [72]:
second = total_marks.index(sorted(zip(total_marks), reverse=True)[:3][1][0])

In [73]:
third = total_marks.index(sorted(zip(total_marks), reverse=True)[:3][2][0])

In [74]:
print("Best students in the class are " + data[first+1][0] + ", " + data[second+1][0] + " and " + data[third+1][0])

Best students in the class are Manodhar, Bhavana and Sourav